<footer class="footer-color text-center footer-text">
    <div class="container p-4">
        {% if not user.is_authenticated %}
            <section class="">
                <form action="{% url 'subscribe' %}" method="post">
                    <div class="row d-flex justify-content-center">
                    {% csrf_token %}

                        <div class="col-auto">
                            <p class="pt-2">Subscribe for our newsletter</p>
                        </div>

                        <div class="col-auto">
                            <input id="name" name="name" class="form-control" placeholder="Your Name"/>
                        </div>

                        <div class="col-auto">
                            <input id="email" name="email" type="email" class="form-control" placeholder="Email address"/>
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btncolor">
                                <i class="fa fa-arrow-circle-right fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        {% endif %}
        <div class="row mobiledevice">
            <div class="col-lg-4 col-md-4 col-sm-4 text-left">
                <a href="/">
                    <h4>Disclaimer</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-left">
                <h4>Information</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-left">
                <a href="/">
                    <h4>About</h4>
                </a>
            </div>
        </div>

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p>© {% now "Y" %} {% if site_settings.footer_text %}{{ site_settings.footer_text }}{% else %}Copyright{% endif %}:
            <a href="/">{{ site_settings.site_name }}</a>
        </p>
        {% if site_settings.facebook_url or site_settings.twitter_url or site_settings.instagram_url or site_settings.linkedin_url or site_settings.youtube_url %}
        <div class="social-links mt-2">
            {% if site_settings.facebook_url %}<a href="{{ site_settings.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>{% endif %}
            {% if site_settings.twitter_url %}<a href="{{ site_settings.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i></a>{% endif %}
            {% if site_settings.instagram_url %}<a href="{{ site_settings.instagram_url }}" target="_blank"><i class="fa fa-instagram"></i></a>{% endif %}
            {% if site_settings.linkedin_url %}<a href="{{ site_settings.linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a>{% endif %}
            {% if site_settings.youtube_url %}<a href="{{ site_settings.youtube_url }}" target="_blank"><i class="fa fa-youtube"></i></a>{% endif %}
        </div>
        {% endif %}
    </div>
</footer>