{% load static %}    
     <header id="header-v1" class="navbar-wrapper">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="navbar-header">
                                    <div class="navbar-brand">
                                        <h1>
                                            <a href="/">
                                                {% if site_settings.logo %}
                                                    <img src="{{ site_settings.logo.url }}" alt="{{ site_settings.site_name }}" />
                                                {% else %}
                                                    <img src="{% static 'images/libraria-logo-v1.png' %}" alt="{{ site_settings.site_name }}" />
                                                {% endif %}
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- Header Topbar -->
                                <div class="header-topbar hidden-sm hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="topbar-info">
                                                {% if site_settings.contact_phone %}
                                                    <a href="tel:{{ site_settings.contact_phone }}"><i class="fa fa-phone"></i>{{ site_settings.contact_phone }}</a>
                                                    <span>/</span>
                                                {% endif %}
                                                {% if site_settings.contact_email %}
                                                    <a href="mailto:{{ site_settings.contact_email }}"><i class="fa fa-envelope"></i>{{ site_settings.contact_email }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="topbar-links">
                                                {% if user.is_authenticated %}
                                                    <div class="dropdown" style="display: inline-block;">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-user-circle"></i> {{ user.username }}
                                                            {% if user.is_premium_active %}
                                                                <span style="color: #f39c12;">⭐</span>
                                                            {% endif %}
                                                            <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="{% url 'profile' user.username %}"><i class="fa fa-user"></i> Profilim</a></li>
                                                            {% if user.user_role == 'author' %}
                                                                <li><a href="#"><i class="fa fa-book"></i> Kitaplarım</a></li>
                                                            {% endif %}
                                                            {% if user.is_staff %}
                                                                <li><a href="/admin/"><i class="fa fa-cog"></i> Admin Panel</a></li>
                                                            {% endif %}
                                                            <li class="divider"></li>
                                                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> Çıkış Yap</a></li>
                                                        </ul>
                                                    </div>
                                                {% else %}
                                                    <a href="{% url 'login' %}"><i class="fa fa-sign-in-alt"></i> Giriş Yap</a>
                                                    <span>|</span>
                                                    <a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Kayıt Ol</a>
                                                {% endif %}
                                                <span>|</span>
                                                <div class="header-cart dropdown">
                                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                        <i class="fa fa-shopping-cart"></i>
                                                        <small>0</small>
                                                    </a>
                                                    <div class="dropdown-menu cart-dropdown">
                                                        <ul>
                                                            <li class="clearfix">
                                                                <img src="{% static 'images/header-cart-image-01.jpg' %}" alt="cart item" />
                                                                <div class="item-info">
                                                                    <div class="name">
                                                                        <a href="#">The Great Gatsby</a>
                                                                    </div>
                                                                    <div class="author"><strong>Author:</strong> F. Scott Fitzgerald</div>
                                                                    <div class="price">1 X $10.00</div>
                                                                </div>
                                                                <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                            </li>
                                                            <li class="clearfix">
                                                                <img src="{% static 'images/header-cart-image-02.jpg' %}" alt="cart item" />
                                                                <div class="item-info">
                                                                    <div class="name">
                                                                        <a href="#">The Great Gatsby</a>
                                                                    </div>
                                                                    <div class="author"><strong>Author:</strong> F. Scott Fitzgerald</div>
                                                                    <div class="price">1 X $10.00</div>
                                                                </div>
                                                                <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                            </li>
                                                            <li class="clearfix">
                                                                <img src="{% static 'images/header-cart-image-03.jpg' %}" alt="cart item" />
                                                                <div class="item-info">
                                                                    <div class="name">
                                                                        <a href="#">The Great Gatsby</a>
                                                                    </div>
                                                                    <div class="author"><strong>Author:</strong> F. Scott Fitzgerald</div>
                                                                    <div class="price">1 X $10.00</div>
                                                                </div>
                                                                <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                            </li>
                                                        </ul>
                                                        <div class="cart-total">
                                                            <div class="title">SubTotal</div>
                                                            <div class="price">$30.00</div>
                                                        </div>
                                                        <div class="cart-buttons">
                                                            <a href="cart.html" class="btn btn-dark-gray">View Cart</a>
                                                            <a href="checkout.html" class="btn btn-primary">Checkout</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-collapse hidden-sm hidden-xs">
                                    <ul class="nav navbar-nav">
                                        <li class="active">
                                            <a href="/">Ana Sayfa</a>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Kitaplar <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Tüm Kitaplar</a></li>
                                                <li><a href="#">Kategoriler</a></li>
                                                <li><a href="#">Popüler Kitaplar</a></li>
                                                <li><a href="#">Yeni Eklenenler</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Yazarlar <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Tüm Yazarlar</a></li>
                                                <li><a href="#">Popüler Yazarlar</a></li>
                                            </ul>
                                        </li>
                                        {% if user.is_authenticated and user.user_role == 'author' %}
                                        <li>
                                            <a href="#"><i class="fa fa-upload"></i> Kitap Yükle</a>
                                        </li>
                                        {% endif %}
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Hakkında <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Hakkımızda</a></li>
                                                <li><a href="#">İletişim</a></li>
                                                <li><a href="#">SSS</a></li>
                                                {% if not user.is_premium_active %}
                                                <li class="divider"></li>
                                                <li><a href="#" style="color: #f39c12;"><i class="fa fa-star"></i> Premium Ol</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="/">Blog <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/">Blog</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md">
                            <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                            <div id="mobile-menu">
                                <ul>
                                    <li class="mobile-title">
                                        <h4>Navigation</h4>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li>
                                        <a href="index-2.html">Home</a>
                                        <ul>
                                            <li><a href="index-2.html">Home V1</a></li>
                                            <li><a href="home-v2.html">Home V2</a></li>
                                            <li><a href="home-v3.html">Home V3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="books-media-list-view.html">Books &amp; Media</a>
                                        <ul>
                                            <li><a href="books-media-list-view.html">Books &amp; Media List View</a></li>
                                            <li><a href="books-media-gird-view-v1.html">Books &amp; Media Grid View V1</a></li>
                                            <li><a href="books-media-gird-view-v2.html">Books &amp; Media Grid View V2</a></li>
                                            <li><a href="books-media-detail-v1.html">Books &amp; Media Detail V1</a></li>
                                            <li><a href="books-media-detail-v2.html">Books &amp; Media Detail V2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="news-events-list-view.html">News &amp; Events</a>
                                        <ul>
                                            <li><a href="news-events-list-view.html">News &amp; Events List View</a></li>
                                            <li><a href="news-events-detail.html">News &amp; Events Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="signin.html">Signin/Register</a></li>
                                            <li><a href="404.html">404/Error</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog Grid View</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>